/* input[type="color"] {
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
}


.aaabbb {
  padding: 0px 0px;
  border: none;
} */

.bvv{
  height: 100%;
  width: 100%;
}
